/* Basic styles and resets */
body,html,h1,h2,p, div,a,img,header,footer,span,section{
    margin: 0;
    padding: 0;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
footer,header{
    background: #00b4de; color: #fbfbfb;  text-align: center; padding: 2em 0;font-size: 1.6rem;
}
html,body{
    width: 100%;
}
html{
    font-size: 62.5%; 
}
body{ 
    position: relative; font-size: inherit;
}
img {
    width: 400px;
    height: 400px;
}
/* Styling for the image distribution part */
ul, li, img{
    margin: 0;
    padding: 0;
}
section ul{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}
section ul li{
    list-style-type: none;
    display: inline-block;
    margin: 1.6rem 0;
}
section ul::after{
    content: "";
    width: 100%;
    display: inline-block;
}

/* * {
    box-sizing: border-box;
}

/*
.all-columns {
    float: left;
    width: 33.33%;
    padding: 100px;
}
.row::after {
    content: "";
    clear: both;
    display: table; 
    align-items: start;
}

@media screen and (max-width: 768px) {
    .all-columns {
        width: 100%;
        padding: 50px;
    }
}

top-buttons.a {
    background-color: white;
    color: black;
  }
  a:link { text-decoration: none;}
  a:visited { text-decoration: none;}
  a:hover { text-decoration: underline;}
  a:active { text-decoration: underline;}
  img {
    width: 400px;
    height:400px;
    padding: 50px;
  }
  /*Things to add
  FINISH STYLING EVERYTHING


  ul,li, img {
    margin: 0;
    padding: 0;
  }

  section ul {
    width: 60%;
    margin: 0 auto;
    outline: 1px solid red;
    text-align: justify;
  }

  section ul::after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  section ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1.6rem 0;
  }
*/