* {
    box-sizing: border-box;
}
.all-columns {
    float: left;
    width: 33.33%;
    padding: 100px;
}
.row::after {
    content: "";
    clear: both;
    display: table; 
    align-items: start;
    padding:50px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .all-columns {
        width: 100%;
    }
}
top-buttons.a {
    background-color: white;
    color: black;
  }
  a:link { text-decoration: none;}
  a:visited { text-decoration: none;}
  a:hover { text-decoration: underline;}
  a:active { text-decoration: underline;}
  img {
    width: 400px;
    height:400px;
    padding: 50px;
  }
  /*Things to add
  FINISH STYLING EVERYTHING
  */
